*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,header,footer,main,nav{
    
    /* font-family: 'Urbanist', sans-serif;   */
    font-family: 'Open Sans', sans-serif; 
}    


/* Barra de navegacion */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
._nav{

    
    background-color: #F2F2F0;
    color: #262626;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    font-size: 14px;

    margin-left: 5px;
}
nav{
    margin-top: 10px;
}


 /* Encabezado */
 header{
    background-color: #F2F2F0;
    width: 100%;
    padding-bottom: 10px;
}

 h1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;  
    margin-top: 30px;
    margin-bottom: 25px;
    transform: scale(1.2,1.2);
}

header>div>h4{
    text-align: center;
    font-weight: 200;
    font-size: 17px;  
    font-family: 'Urbanist', sans-serif; 
}

/* Principal */

main{
    background-color: white;
    padding-top: 30px;
}

h2{
    text-align: left;
    font-weight: 400;
    padding-bottom: 1.3%;
    margin-left: 1%;
}

h5{
    font-family: 'Open Sans';
    font-weight: 200;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h5>p{
    
    margin-left: 15px;
}
main>p{
    text-align: left;
    font-weight: 200;
    padding-bottom: 1.3%;
    margin-left: 1%;

}

footer{
    background-color: #262626;
    color: white;
    text-align: center;
    margin-top: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    height: 80px;
    margin-top: 0;
}
footer>p{
    font-size: small;
}

.fontawesome{
    color: white;
    font-size: 1.5vw;
}


/* Formularios */

label, input{
    font-size: 15px;
}
.h2form{
    margin-left: 0%;
}
ul{
    font-size: 14px;
    margin-top: 10px;
}

input[type=text]{
    width: 80%;
    padding: 0.3vw;
    margin: 0.2vw;
    display: inline-block;
    border: 1vw;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

.form-submit-button {
    background-color: black ;
    color: white;
    border-style: outset;
    height: 35px;
    width: 100%;
    text-shadow: none;
    
    }
.form-submit-button:hover{
    background-color:rgb(134, 19, 94);
}



.formulario{
    border-radius: 5px;
    background-color:#F2F2F0;
    padding: 2%;
    margin: 1% 20%;
}

ul{
    list-style-type: none;
}

/* CSS FOTOS */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column>img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
  }

  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 768px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .navbar {
        flex-direction: column;
    }
  }

  /* VINDICATOR */
  .vindicator_text{
    background-color:#F2F2F0;
}

/* CSS VIDEOS */
.row1 {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center; 
   
    
  }
  
  iframe {
    margin-top: 8px;
    border-radius: 5px;
  }

   
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
  }